.home-page {
  &__title {
    color: white;
    animation-name: title;
    animation-duration: 1s;
  }

  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@keyframes title {
  0%{
    margin-left: 1000px;
    opacity: 0;
  }
  100%{
    margin-left: 0px;
    opacity: 1;
  }
}

.home-page__products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  margin: 10px;
}